<div id="<%= dom_id outline %>">
  <p>
    <strong>Outline desc:</strong>
    <%= outline.outline_desc %>
  </p>

  <p>
    <strong>Outline start:</strong>
    <%= outline.outline_start %>
  </p>

  <p>
    <strong>Outline end:</strong>
    <%= outline.outline_end %>
  </p>

  <p>
    <strong>Project num:</strong>
    <%= outline.project_num %>
  </p>

</div>
